{erl_opts, [debug_info,{i,"include"},{i,"/home/joq62/erlang/include"},
            {d, 'EDOC', [{doc_path, "doc"}]}]}.
{deps, [
        
       ]}.
{edoc_opts, [
  %  {doclet, edown_doclet},
 %   {top_level_readme, {"./README.md", "https://github.com/yourusername/yourproject"}},
    {source_path, ["src"]},
    {output_dir, "doc"}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [kube_control]}
]}.
